body {
    background-color: #324152;
    font-family: Arial, Verdana, sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 75px;
  text-align: center;
  text-shadow: -6px -6px 3px black;
  color: #C1836A;
}

table {
  width: 80%;
  margin: auto;
  margin-top: 5px;
  border-style: ridge;
  border-width: 4px;
  border-color: gray;
  background-color: #C1836A;
  color: #324152;
}

th {
  font-size: 18px;
}

td {
  border: 2px ridge gray;
  text-align: center;
  font-size: 2em;
}
